@font-face {
    font-family: 'bodytype';
    src: url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf') format('truetype');
    src: url('../fonts/Josefin_Sans/JosefinSans-Regular?#iefix') font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'title';
    src: url('../fonts/Gloria_Hallelujah/GloriaHallelujah.ttf');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: 'title';
}



[12:50] index.html add this under title: 
